@import './components/Public.css';

body {
  min-width: 320px;
  overflow-x: hidden;
  background-color: var(--background-color) !important;
}

.body {
  overflow-y: scroll;
  width: 100vw;
  min-width: 320px;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color) !important;

  transition: all 0.5s ease;
}
